.search__bar img {
  width: 20px;
  height: auto;
}
.search__bar {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: max-content;
  margin-top: 50px;
}

.form__group {
  flex: -2; /* Allow search bar containers to grow and shrink */
  margin-right: 20px; /* Add margin between search bar containers */
}
.form__group span {
  font-size: 1.8rem;
  color: var(--secondary-color);
}
/* Adjust margin for the last search bar container to avoid extra space */
.form__group:last-child {
  margin-right: 0;
}
.form__group input {
  border: none;
  font-size: 0.9rem;
  color: var(--heading-color);
  font-weight: 500;
}
.form__group input:focus {
  margin-bottom: 0;
}
.form__group-fast {
  border-right: 2px solid #ddd;
}
.search__icon i {
  font-size: 1.6rem;
  padding: 0.5rem;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 10px 5 px 10px 5px;
}
