/* .tour__card{
  border:2px solid black;
  width:300px;
  height:300px;
}
.tour__card__content {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  overflow: hidden;
}

.tour__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.tour__img {
  position: relative;
}
.tour__img span {
  position: absolute;
  bottom: 0;
  right: 0;
   width: max-content;
  height: max-content; 
  z-index: 10;
  background: var(--primary-color);
  color: #fff;
  padding: 0.3rem, 0.5rem;
  border-radius: 3px 0 0 0;
}
.card__top span i {
  color: var(--secondary-color);
}
.tour__rating {
  font-size: 0.9rem;
  color: var(--text-color);
}
.tour__location {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;
}
.tour__rating i,
.tour__location i {
  font-size: 1rem;
}


.tour__title {
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.tour__title a {
  text-decoration: none;
  color: var(--heading-color);
  transition: 0.3s;
}
.tour__title a:hover {
  color: var(--secondary-color);
}
.card__bottom h5 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.1rem;
}
.card__bottom h5 span {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
}
.booking__btn {
  background: var(--secondary-color);
  cursor: pointer;
  padding: 0.5 1rem;
}

.booking__btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}
.booking__btn a:hover {
  color: #fff;
}
.tour__location,
.tour__rating,
.tour__title {
  margin: 0;
} */

.tour__img img{
  width:100%;
  border-radius:5px 5px 0 0;
}
.card{
  border: none !important;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour_img span{
  position: absolute;
  bottom: 0;
  right: 0;
   width: max-content;
  height: max-content; 
  z-index: 10;
  background: var(--primary-color);
  color: #fff;
  padding: 0.3rem, 0.5rem;
  border-radius: 3px 0 0 0;

}
.card__top span i {
  color: var(--secondary-color);
}
.tour__rating {
  font-size: 0.9rem;
  color: var(--text-color);
}
.tour__location {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;
}
.tour__rating i,
.tour__location i {
  font-size: 1rem;
}

.tour__title {
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.tour__title a{
  text-decoration:none;
  color:black;
}
.tour__title a:hover {

  color: var(--secondary-color);
}
.card__bottom h5 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.1rem;
}
.card__bottom h5 span {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
}
.booking__btn {
  background: var(--secondary-color)!important;
  cursor: pointer;
  padding: 0.2rem 0.5rem;

}
.booking__btn a{
  text-decoration:none;
  color:black;
}
.booking__btn a:hover {
  color: #fff;
}
.tour__img span{
  background-color: var(--primary-color);
  color:white;
  border-radius:2px;
}